<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Setup</title>
  </head>
  <body>
    <div>
      <nav id="topMenu">
        <ul>
          <li><a class="menuLink" href="/setup/Monday">월</a></li>
          <li><a class="menuLink" href="/setup/Tuesday">화</a></li>
          <li><a class="menuLink" href="/setup/Wednesday">수</a></li>
          <li><a class="menuLink" href="/setup/Thursday">목</a></li>
          <li><a class="menuLink" href="/setup/Friday">금</a></li>
          <li><a class="menuLink" href="/setup/Saturday">토</a></li>
          <li><a class="menuLink" href="/setup/Sunday">일</a></li>
        </ul>
      </nav>
      <button type="button" onclick="location.href='/setup'">추가하기</button>
    </div>
  </body>
</html>
