<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Setup</title>
  </head>
  <body>
    <div>
      <form action="/setup" method="post" id="setupForm">
        <a>세트 사이 쉬는 시간</a>
        <input type="text" name="breakTime" /> <br />
        <a>요일</a>
        <input type="text" name="day" />
        <a>운동 방법</a>
        <input type="text" name="way" />
        <a>운동할 부위</a>
        <input type="text" name="part" />
        <a>세트 수</a>
        <input type="text" name="setNumber" />
        <a>갯수</a>
        <input type="text" name="number" />
        <button type="submit">제출</button>
      </form>
    </div>
  </body>
</html>
