<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <div>반갑습니다 <%= nickname %>님!</div>
    <br />
    <div>당신의 아이디는 <%= userId %>입니다.</div>
    <hr />
    <form action="/user" method="post" id="userForm">
      <a>키를 입력해주세요</a> <br />
      <input type="text" name="height" />
      <br />
      <a>몸무게를 입력해주세요</a> <br />
      <input type="text" name="weight" />
      <button type="submit">확인</button>
    </form>
  </body>
</html>
